$text-color: rgb(63, 63, 63);
$accent-color: rgba(255, 86, 8, 0.911);

.home {
  height: 100vh;
  width: 100%;
  margin-bottom: 200px;
  color: $text-color;
  position: relative;
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }

  .header {
    height: 65px;
    width: 100%;
    display: grid;
    grid-template-areas: "logo routes login";
    margin-bottom: 2%;

    .logo-area {
      grid-area: "logo";
      display: flex;
      align-items: center;

      .logo {
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .routes-area {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: "routes";

      .routes {
        display: flex;
        flex-direction: row;

        .routes-item {
            margin: 0 12px;
            cursor: pointer;
        }
      }
    }

    .login-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-area: "login";
        
        .login {
            background-color: lighten($text-color, 15%);
            padding: 12px 25px;
            cursor: pointer;
            border: none;
            color: #fff;
            text-transform: uppercase;
            overflow: hidden;
            transition: all 200ms ease;
            border-radius: 3px;

            &:hover {
                background-color: rgba(51, 51, 51, 0.432);
                box-shadow: 0 0 6px rgba(105, 105, 105, 0.432);
            }
        }
    }
  }

  .title {
    height: fit-content;
    font-weight: bold;
    color: $text-color;
    user-select: none;
    width: 80%;
    font-size: 3.5rem;
  }

  .description-area {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .description {
      height: 50px;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: end;
      font-size: 1.2rem;
    }
  }

  .button-area {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      background-color: $accent-color;
      padding: 20px 40px;
      cursor: pointer;
      border: none;
      color: #fff;
      text-transform: uppercase;
      overflow: hidden;
      transition: all 200ms ease;
      border-radius: 3px;

      &:hover {
        background-color: lighten($accent-color, 1%);
        box-shadow: 0 0 5px lighten($accent-color, 1%);
      }
    }
  }
}

.explore {
  height: 540px;
  width: 100%;
}
